@import '~styles/_vars.scss';

.category {
}

.sidebarItemTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sidebarItemTitle {
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
}

.sidebarItemCounter {
  margin-left: 8px;
}

.sidebarItemAction {
  cursor: pointer;
  display: flex;
}

.selectedCounter {
  margin-left: 8px;
}

.toggleView {
  display: block;
  margin-top: 4px;
  cursor: pointer;
  font-weight: 500;
  color: $blue-accent;
  transition: opacity $transition-duration $transition-timing-function;

  &:hover {
    opacity: 0.6;
  }
}

.sidebarChip {
  margin-bottom: 8px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.sidebarChipActive {
  background-color: $black;
  color: $white;

  &:hover {
    background-color: rgba($black, 0.6);
  }
}

.authors {
  display: flex;
  flex-wrap: wrap;
}

.checkboxGroup {
  display: grid;
  grid-gap: 18px;
}

.chipSkeleton {
  display: inline-flex;
  margin-bottom: 8px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.personSkeleton {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.personSkeletonImage {
  flex-shrink: 0;
  margin-right: 6px;
}

.checkboxSkeleton {
  display: flex;
  align-items: center;
}

.checkboxSkeletonCheck {
  flex-shrink: 0;
  margin-right: 14px;
}
