@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.arrowBack {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  padding: 0;
}

.sidebarItemTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.sidebarItemTitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebarItemCounter {
  margin-left: 8px;
}

.sidebarItemAction {
  cursor: pointer;
  display: flex;
}

.localReset {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
}

.localResetVisible {
  opacity: 1;
  visibility: visible;
}

.selectedCounter {
  margin-left: 8px;
}

.toggleView {
  display: block;
  margin-top: 4px;
  cursor: pointer;
  font-weight: 500;
  color: $blue-accent;
  transition: opacity $transition-duration $transition-timing-function;

  &:hover {
    opacity: 0.6;
  }

  @include mobile-and-tablet {
    display: none;
  }
}

.sidebarChipActive {
  background-color: $black;
  color: $white;

  &:hover {
    background-color: rgba($black, 0.6);
  }
}
