@font-face {
  font-family: 'Sequel Sans';
  src: url('~assets/fonts/sequel-sans-roman.eot');
  src: url('~assets/fonts/sequel-sans-roman.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/sequel-sans-roman.woff2') format('woff2'),
    url('~assets/fonts/sequel-sans-roman.woff') format('woff'),
    url('~assets/fonts/sequel-sans-roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
