@import './_vars.scss';
@import './_fonts.scss';
@import './responsive.scss';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-sans-serif;
  font-size: 0.85rem;
  line-height: 1.62;
  color: $black;
  text-align: left;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include xxl {
    font-size: 1rem;
  }

  @include mobile-and-tablet {
    font-size: 0.875rem;
    line-height: 1.57;
  }
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

code,
kbd,
pre,
samp {
  font-family: $font-monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 24px;
}

h1 {
  font-size: 74px;
  line-height: 82px;

  @include xxl {
    font-size: 82px;
    line-height: 92px;
  }

  @include mobile-and-tablet {
    font-size: 36px;
    line-height: 46px;
  }
}

h2 {
  font-size: 40px;
  line-height: 46px;

  @include xxl {
    font-size: 48px;
    line-height: 58px;
  }

  @include mobile-and-tablet {
    font-size: 28px;
    line-height: 36px;
  }
}

h3 {
  font-size: 32px;
  line-height: 40px;

  @include xxl {
    font-size: 40px;
    line-height: 50px;
  }

  @include mobile-and-tablet {
    font-size: 24px;
    line-height: 30px;
  }
}

h4 {
  font-size: 28px;
  line-height: 45px;

  @include xxl {
    font-size: 32px;
    line-height: 50px;
  }

  @include mobile-and-tablet {
    font-size: 22px;
    line-height: 30px;
  }
}

h5 {
  font-size: 26px;
  line-height: 40px;
}

h6 {
  font-size: 19px;
  line-height: 30px;
}

p {
  margin-top: 0;
}

a {
  color: $blue-accent;
  text-decoration: none;
}

#root,
#app,
html,
body {
  height: 100%;
}
