@import './responsive.scss';

body {
  font-family: 'Sequel Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 100px;
  line-height: 100%;
  margin: 0 0 80px;

  @include mobile {
    font-size: 62px;
    margin-bottom: 64px;
  }
}

#root,
#app,
html,
body {
  height: 100%;
}
