@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.container {
  margin-top: 16px;
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mobile {
    margin: 0 -20px;
    padding: 0 20px;
    display: flex;
    flex-wrap: nowrap;
  }
}

.barWrapper {
  min-width: 100px;
  flex-shrink: 0;
  margin-right: 10px;
  flex: 1;

  &:last-child {
    margin-right: 0;
  }

  @include mobile-and-tablet {
    min-width: 75px;
  }
}

.barContainer {
  height: 224px;
  background: $gray-surface;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bar {
  border-radius: 10px;
  background: $gray-border;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  color: $gray-text;
  padding-bottom: 14px;

  &.highlighted {
    background: $blue-accent;
    color: $white;
  }
}

.barSkeleton {
  padding-bottom: 0;
  height: 100%;
}

.popularitySkeleton {
  padding-bottom: 0;
  transform: none;
}

.popularityVersion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  font-family: $font-monospace;
  font-weight: 500;
}

.popularityVersionSkeleton {
  margin: 15px auto 0;
}

.popularityVersionIcon {
  margin-left: 8px;
}
