@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.vulnerableWrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-right: -9px;
}

.vulnerablePackage {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 28px;
  font-family: $font-monospace;
  color: $red-accent;
  max-width: calc(100% - 100px);

  @include mobile-and-tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

.vulnerablePackageName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vulnerableIcon {
  display: flex;
  margin-right: 12px;
}

.vulnerableMore {
  margin-left: 12px;
}

.vulnerableMoreText {
  @include mobile-and-tablet {
    display: none;
  }
}
