@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.basic {
  position: absolute;
  width: max-content;
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 3px 0 #e6e6e6;
  animation: fadein 0.2s;
}

.topleft {
  left: 0;
}

.topright {
  right: 0;
}