@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.searchBar {
  position: relative;
  z-index: 2;
}

.input {
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  appearance: textfield;
  width: 100%;
  font-size: 17px;
  line-height: 28px;
  padding: 14px 56px 14px 28px;
  color: $black;
  border: none;
  background: $gray-surface;
  border-radius: 30px;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &::placeholder {
    color: $gray-text;
  }

  @include mobile-and-tablet {
    padding: 15px 50px 15px 24px;
    font-size: 16px;
    line-height: 22px;
  }
}

.submit,
.clear {
  flex-shrink: 0;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 28px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile-and-tablet {
    top: 14px;
    right: 24px;
  }
}

.clearIcon {
  opacity: 0.5;
}

.large {
  .input {
    display: block;
    width: 100%;
    height: 84px;
    padding-left: 36px;
    font-size: 22px;
    line-height: 30px;
    font-family: inherit;
    border-radius: 50px;

    @include mobile-and-tablet {
      height: 64px;
      padding-left: 28px;
      font-size: 20px;
    }
  }

  &.suggestionsOpen {
    .input {
      border-radius: 42px 42px 0 0;

      @include mobile-and-tablet {
        border-radius: 32px 32px 0 0;
      }
    }
  }

  .submit,
  .clear {
    top: 26px;
    right: 24px;
    width: 32px;
    height: 32px;

    @include mobile-and-tablet {
      width: 24px;
      height: 24px;
      top: 20px;
      right: 22px;
    }
  }

  .loader {
    top: 29px;

    @include mobile-and-tablet {
      top: 20px;
      right: 24px;
    }
  }
}

.suggestionsOpen {
  .input {
    //background: $white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.error {
  .input {
    background: $red-additional;
  }
}

.loader {
  position: absolute;
  top: 15px;
  right: 28px;
  width: 26px;
  height: 26px;
  border: 3px solid $blue-accent;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  @include mobile-and-tablet {
    top: 14px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-width: 2px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero {
  .input {
    padding-right: 100px;
    background: rgba($white, 0.16);
    border: none;
    outline: none;
    color: $white;

    @include mobile-and-tablet {
      padding-right: 92px;
    }

    &::placeholder {
      color: $white;
      opacity: 0.5;
    }
  }

  .submit {
    cursor: pointer;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgba($white, 0.1);

    @include mobile-and-tablet {
      top: 4px;
      right: 4px;
      width: 56px;
      height: 56px;
    }
  }

  .submitIcon {
    margin-left: 4px;

    @include mobile-and-tablet {
      width: 10px;
      height: 18px;
    }
  }

  .loader {
    position: static;
    width: 32px;
    height: 32px;
    border: 4px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    @include mobile-and-tablet {
      width: 24px;
      height: 24px;
      border-width: 2px;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.error {
    .input {
      background: $red-additional;
      color: $red-accent;
    }

    .submit {
      background-color: rgba($red-accent, 0.1);
      color: $red-accent;
    }

    .submitIcon {
      color: $red-accent;
    }
  }
}
