@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.searchBar {
  position: relative;
}

.input {
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  appearance: textfield;
  width: 100%;
  font-size: 17px;
  line-height: 28px;
  padding: 14px 56px 14px 28px;
  color: $black;
  border: none;
  background: $gray-surface;
  border-radius: 30px;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &::placeholder {
    color: $gray-text;
  }

  @include mobile-and-tablet {
    padding: 15px 50px 15px 24px;
    font-size: 16px;
    line-height: 22px;
  }
}

.submit,
.clear {
  flex-shrink: 0;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile-and-tablet {
    top: 14px;
    right: 14px;
  }
}

.large {
  .input {
    font-size: 26px;
    line-height: 40px;
    border-radius: 70px;
    padding: 30px 100px 30px 44px;

    @include mobile-and-tablet {
      font-size: 20px;
      line-height: 22px;
      padding: 21px 28px;
    }
  }

  .submit,
  .clear {
    top: 34px;
    right: 40px;
    width: 32px;
    height: 32px;

    @include mobile-and-tablet {
      width: 24px;
      height: 24px;
      top: 20px;
      right: 22px;

      svg {
        width: inherit;
        height: inherit;
      }
    }
  }
}
