@import '~styles/responsive.scss';

.tagsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.tag {
  margin-bottom: 0.5rem;

  &:not(:last-child) {
    margin-right: 0.75rem;
  }
}
