@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.hero {
  border-radius: 0 0 45px 45px;
  background: #321894 url('~assets/hero-bg.webp') 50% 0 no-repeat;
  background-size: cover;
  color: $white;
  text-align: center;

  @include xxl {
    border-radius: 0 0 60px 60px;
  }

  @include mobile-and-tablet {
    border-radius: 0 0 30px 30px;
  }
}

.headerWrapper {
  padding: 12px 0;

  @include mobile-and-tablet {
    padding: 0;
  }
}

.content {
  padding-top: 12px;
  padding-bottom: 137px;

  @include mobile-and-tablet {
    padding-top: 20px;
    padding-bottom: 44px;
  }
}

.title {
  max-width: 884px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.subtitle {
  max-width: 656px;
  margin-left: auto;
  margin-right: auto;
  color: rgba($white, 0.5);
  margin-bottom: 48px;
  font-size: 17px;
  line-height: 28px;

  @include mobile-and-tablet {
    margin-bottom: 32px;
  }
}

.search {
  position: relative;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.suggestions {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 0 4px;

    @include mobile-and-tablet {
      &:nth-child(n + 4) {
        display: none;
      }
    }
  }
}
