.control {
  appearance: none;
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 10px;
  height: 10px;
  background-color: #e6e6e6;
  border-radius: 50%;

  display: grid;
}

.control::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 200ms transform ease-in-out;
  box-shadow: inset 1em 1em #666666;
}

.control:checked::before {
  transform: scale(1);
}

.labelContent {
  margin: 0 5px;
}
.labelLeft {
  margin-left: 0;
}
.labelRight {
  margin-right: 0;
}

.container {
  display: flex;
  align-items: center;
}
.container.justify {
  justify-content: space-between;
}
