@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.container {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 36px;
  line-height: 20px;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.text {
  display: inline-block;
  padding-top: 2px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
  }

  &::before {
    background: rgba($gray-border, 0.5);
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  &::after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $black;
    opacity: 0;
    visibility: hidden;
  }
}

.input:checked ~ .text {
  font-weight: 500;

  &::after {
    opacity: 1;
    visibility: visible;
  }
}
