@import '~styles/responsive.scss';

.container {
  border: 1px solid #e6e6e6;
  padding: 16px;
  display: flex;
  box-sizing: border-box;

  &:hover .externalLinks {
    opacity: 1;
  }
}

// variants
.grid {
  border-bottom-width: 1px;
  height: 150px;
  width: 260px;
  flex-direction: column;
  flex-wrap: wrap;

  // dirty trick
  // TODO: fix later
  & + & + & + & + & {
    margin-top: -1px;
  }

  & .registryMeta {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  & .externalLinks {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  & .name {
    margin-bottom: 6px;
    width: 100%;
  }

  & .version {
    margin-right: 16px;
  }

  & .meta {
    display: flex;
    flex-wrap: wrap;
  }
}

.lines {
  min-height: 66px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-left-width: 0;
  border-right-width: 0;
  padding-left: 0;
  justify-content: space-between;

  // dirty trick
  // TODO: fix later
  & + & {
    margin-top: -1px;
  }

  & .name {
    margin-right: 8px;
    flex: 1;
  }

  & .registryMeta {
    justify-self: flex-end;
    order: 10;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  & .meta {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
}

.name {
  appearance: none;
  text-decoration: none;
  font-size: 18px;
  line-height: 140%;
  color: #0f0f0f;

  &:hover {
    text-decoration: underline;
  }
}

.version {
  font-size: 14px;
  line-height: 140%;
  color: #666666;
}

.size {
  font-size: 14px;
  line-height: 140%;
  color: #666666;
}

.badge {
  display: inline-block;
  padding: 4px 9px 3px;
  border: 1px solid #ffcc00;
  border-radius: 100px;
  text-transform: uppercase;
  color: #ffcc00;
  font-size: 10px;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.externalLink {
  margin-left: 6px;
}

.externalLinks {
  opacity: 0.5;
  transition: opacity 0.3s;
}
