@import '~styles/responsive.scss';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include mobile {
    justify-content: flex-end;
  }
}

.address {
  width: 496px;
  max-width: 100%;
  margin: 0 16px 16px 0;
  box-sizing: border-box;

  @include mobile {
    margin-right: 0;
  }
}

.submit {
  width: 218px;

  @include mobile {
    width: 100%;
  }
}

.disclaimer {
  padding: 0;
  margin: 8px 0 0;
  font-size: 13px;
  line-height: 18px;
  color: #a5a5a5;
  max-width: 50%;
  min-height: 36px;

  @include mobile {
    max-width: 100%;
    margin-top: 24px;
  }
}

.error {
  color: #ff3b30;
}
