@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.searchedResource {
  display: flex;
  align-items: flex-start;

  @include mobile-and-tablet {
    flex-direction: column;
  }
}

.searchedResourceImageWrapper {
  display: flex;
  flex-shrink: 0;
  margin-right: 24px;
  width: 42px;
  height: 42px;

  border-radius: 50%;
  overflow: hidden;

  background: $gray-surface;

  @include xxl {
    width: 52px;
    height: 52px;
  }

  @include mobile-and-tablet {
    width: 44px;
    height: 44px;
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.searchedResourceImage {
  width: 100%;
  object-fit: cover;
}

.searchedResourceContent {
  display: flex;
  flex-direction: column;
}

.searchedResourceTitle {
  margin-bottom: 12px;

  @include mobile-and-tablet {
    margin-bottom: 8px;
  }
}

.searchedResourceHighlight {
  color: $gray-text;
}

.searchedResourceHighlightSkeleton {
  display: inline-block;
  vertical-align: middle;
}

.searchedResourceScanDate {
  color: $gray-text;
}

.searchedResourceRescanButton {
  margin-left: 16px;
  padding: 0;

  cursor: pointer;

  appearance: none;
  border: none;
  background: transparent;

  color: $blue-accent;
  font-weight: 500;
}

.searchedResourceRescanButtonIcon {
  vertical-align: text-top;
}
