@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.sidebar {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: minmax(0, 1fr);
}

.sidebarItem {
  &:not(:first-child) {
    padding-top: 24px;
    border-top: 1px solid $gray-border;
  }
}

.sidebarItemFilter {
  @include mobile-and-tablet {
    display: none;
  }
}

.sidebarItemMobileFilter {
  display: none;

  @include mobile-and-tablet {
    display: block;
  }
}
