@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-surface;
  border-radius: 31px;
  line-height: 1.25;
  border: 1px solid transparent;
  white-space: nowrap;

  @include mobile-and-tablet {
    font-size: 14px;
  }
}

.secondary {
  color: $gray-text;
}

.outlined {
  border: 1px solid $gray-border;
  background-color: transparent;
}

.suggest {
  background: rgba($white, 0.1);
  color: rgba($white, 0.8);
}

.regular {
  padding: 4px 11px;
}

.medium {
  padding: 7px 11px;
}

.large {
  padding: 15px 19px;

  @include mobile-and-tablet {
    padding: 12px 15px;
  }
}

.sans-serif {
  font-size: $font-sans-serif;
}

.monospace {
  font-family: $font-monospace;
}
