@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.chip {
  max-width: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid transparent;
  white-space: nowrap;
  transition: all $transition-duration $transition-timing-function;
  color: $black;
}

.icon {
  display: inline-flex;
  margin-right: 4px;
}

.primary {
  background-color: $gray-surface;

  &:hover {
    background-color: $gray-border;
  }
}

.secondary {
  color: $gray-text;
  background-color: $gray-surface;

  &:hover {
    background-color: $gray-border;
  }
}

.outlined {
  border: 1px solid $gray-border;
  background-color: transparent;
}

.suggest {
  background: rgba($white, 0.1);
  color: rgba($white, 0.8);
}

.badge {
  height: 24px;
  padding-left: 4px;
  padding-right: 8px;

  @include mobile-and-tablet {
    padding-left: 2px;

    .icon svg {
      width: 18px;
      height: 18px;
    }
  }
}

.default {
  padding: 4px 11px;
}

.medium {
  padding: 6px 15px;
}

.large {
  padding: 10px 15px;
}

.sans-serif {
  font-family: $font-sans-serif;
}

.monospace {
  font-family: $font-monospace;
}

.normal {
  font-weight: normal;
}

.semiBold {
  font-weight: 500;
}

.vulnerabilities {
  background-color: $red-accent;
  color: $white;
}

.duplicate {
  background-color: $orange-accent;
  color: $white;
}

.outdated {
  background-color: $yellow-accent;
  color: $white;
}

.info {
  background-color: $blue-additional;
  color: $blue-accent;
}

.sort {
  padding-left: 20px;
  padding-right: 20px;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
