@import '~styles/responsive.scss';

.groups {
  margin: 72px 0;

  @include mobile-and-tablet {
    margin-top: 56px;
    margin-bottom: 8px;
  }

  & > * + * {
    margin-top: 56px;

    @include mobile-and-tablet {
      margin-top: 32px;
    }
  }
}
