@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  @include mobile-and-tablet {
    display: grid;
    grid-row-gap: 22px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 28px 52px;
  }
}

.logo {
  display: flex;
  width: 129px;

  @include mobile-and-tablet {
    width: 82px;
  }
}

.searchWrapper {
  flex-grow: 1;
  padding: 0 40px;

  @include mobile-and-tablet {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding: 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > * + * {
    margin-left: 40px;

    @include mobile-and-tablet {
      margin-left: 20px;
    }
  }
}

.navLink {
  display: flex;
  color: $black;
}

.githubIcon {
  width: 32px;
  height: 32px;

  @include mobile-and-tablet {
    width: 28px;
    height: 28px;
  }
}

.homepage {
  padding: 44px 0;

  @include mobile-and-tablet {
    padding: 22px 0;
  }

  .navLink {
    color: $white;
  }
}
