@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.container {
  position: relative;
}

.triggerButton {
  .containerOpen & {
    background: rgba($gray-border, 0.8);
  }
}

.triggerCounter {
  margin-right: 8px;
}

.triggerIcon {
  flex-shrink: 0;
  margin-left: 8px;

  .containerOpen & {
    transform: rotate(180deg);
  }
}

.content {
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: 12px;
  background: $white;
  box-shadow: $shadow;
  border-radius: 24px;
  padding: 16px;

  .small & {
    min-width: 160px;
  }

  .medium & {
    min-width: 290px;
  }

  .positionLeft & {
    left: 0;
  }

  .positionCenter & {
    left: 50%;
    transform: translateX(-50%);
  }

  .positionRight & {
    right: 0;
  }
}
