@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.card {
  flex-shrink: 0;
  position: relative;
  background: #ffffff;
  border-radius: 24px;
  padding: 24px;
  box-shadow: $shadow;
  width: 100%;
  max-width: 600px;
  min-height: 248px;
  display: flex;
  flex-direction: column;

  @include lg {
    padding: 20px;
  }

  @include mobile-and-tablet {
    scroll-snap-align: start;
    max-width: 314px;
    min-height: 204px;
    box-shadow: $shadow-small;
  }
}

.header {
  display: flex;
  align-items: center;
}

.iconWrapper {
  flex-shrink: 0;
  margin-right: 16px;
  display: inline-flex;
}

.icon {
  width: 100%;
  max-width: 52px;
  object-fit: cover;
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.54;

  @include mobile-and-tablet {
    font-size: 20px;
    line-height: 1.4;
  }
}

.description {
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $gray-text;
}

.tagsWrapper {
  margin-top: 28px;

  @include mobile-and-tablet {
    margin-top: 20px;
  }
}

.toAll {
  background-color: $gray-surface;
}

.arrowBtn {
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 24px;
  right: 24px;
  background: $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow;
  border: none;
  appearance: none;
  padding: 0 0 0 2px;
}

.vulnerable {
  min-height: 136px;
  justify-content: space-between;
  max-width: initial;

  .title {
    font-size: 24px;

    @include mobile-and-tablet {
      font-size: 20px;
    }
  }

  @include mobile-and-tablet {
    min-height: 136px;
  }
}
