@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.card {
  flex-shrink: 0;
  position: relative;
  background: #ffffff;
  border-radius: 24px;
  padding: 20px;
  box-shadow: $shadow;
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  color: $black;

  @include xxl {
    min-height: 248px;
  }

  @include mobile-and-tablet {
    scroll-snap-align: start;
    max-width: 314px;
    min-height: 204px;
    box-shadow: $shadow-small;
  }
}

.header {
  display: flex;
  align-items: center;
}

.iconWrapper {
  flex-shrink: 0;
  margin-right: 16px;
  display: inline-flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background: #f7f7f9;

  @include mobile-and-tablet {
    width: 44px;
    height: 44px;
  }
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include mobile-and-tablet {
    font-size: 20px;
    line-height: 1.4;
  }
}

.description {
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $gray-text;
}

.tagsWrapper {
  margin-top: 20px;
}

.placeholder {
  cursor: pointer;
  color: $black;
  background-color: $gray-surface;
}

.arrowBtn {
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 24px;
  right: 24px;
  background: $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow;
  border: none;
  appearance: none;
  padding: 0 0 0 2px;
}

.small {
  min-height: 116px;
  justify-content: space-between;
  max-width: initial;

  @include mobile-and-tablet {
    min-height: 136px;
  }
}

.avatarsWrapper {
  flex: 1;
  align-self: flex-start;
  display: flex;
  align-items: flex-end;
}

.avatarSites {
  display: flex;
  align-items: center;
}

.counter {
  white-space: nowrap;
  font-size: 17px;
  line-height: 28px;
  margin-left: 14px;

  @include mobile-and-tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

.tagLink {
  max-width: 100%;
}
