@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.searchResults {
  display: grid;
  grid-template-columns: 260px minmax(0, 1fr);
  grid-template-rows: min-content 1fr;
  grid-column-gap: 80px;
  margin-top: 44px;
  padding-bottom: 108px;
  border-bottom: 1px solid $gray-border;
  margin-bottom: 80px;

  @include lg {
    grid-template-columns: 232px minmax(0, 1fr);
    grid-column-gap: 56px;
    padding-bottom: 86px;
  }

  @include mobile-and-tablet {
    margin-top: 24px;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: none;
    grid-gap: 24px;
    padding-bottom: 64px;
    margin-bottom: 56px;
  }

  @include mobile {
    padding-bottom: 64px;
  }
}

.packages {
  grid-column: 2 / -1;
  display: grid;
  grid-gap: 16px;
  align-items: start;
  grid-template-rows: min-content;

  @include mobile-and-tablet {
    grid-column: 1;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-gap: 24px;
  align-self: start;

  @include mobile-and-tablet {
    grid-column: 1;
    grid-row: 2;
  }
}

.sidebarItem {
  &:not(:first-child) {
    padding-top: 24px;
    border-top: 1px solid $gray-border;
  }
}

.meta {
  display: grid;
  grid-gap: 20px;

  // FIXME: not sure that mobile spacing should be higher than desktop one
  @include mobile-and-tablet {
    grid-gap: 24px;
  }
}

.metaItem {
  display: flex;
  align-items: flex-start;

  @include mobile-and-tablet {
    line-height: 24px;
  }
}

.metaIcon {
  display: flex;
  flex-shrink: 0;
  margin-right: 20px;

  @include mobile-and-tablet {
    margin-right: 16px;
  }
}

.metaText {
  font-weight: 500;
}
