@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.searchResults {
  display: grid;
  grid-template-columns: 260px minmax(0, 1fr);
  grid-template-rows: min-content 1fr;
  grid-column-gap: 60px;
  margin-top: 44px;
  padding-bottom: 108px;
  border-bottom: 1px solid $gray-border;
  margin-bottom: 80px;

  @include xxl {
    grid-column-gap: 80px;
  }

  @include lg {
    grid-template-columns: 232px minmax(0, 1fr);
    grid-column-gap: 56px;
    padding-bottom: 86px;
  }

  @include mobile-and-tablet {
    margin-top: 24px;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: none;
    grid-gap: 24px;
    padding-bottom: 64px;
    margin-bottom: 56px;
  }

  @include mobile {
    padding-bottom: 64px;
  }
}

.packages {
  grid-column: 2 / -1;
  display: grid;
  grid-gap: 16px;
  align-items: start;
  grid-template-rows: min-content;
  grid-template-columns: minmax(0, 1fr);

  @include mobile-and-tablet {
    grid-column: 1;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-gap: 24px;
  align-self: start;

  @include mobile-and-tablet {
    grid-column: 1;
    grid-row: 2;
  }
}

.sidebarItem {
  &:not(:first-child) {
    padding-top: 24px;
    border-top: 1px solid $gray-border;
  }
}

.sidebarItemFilter {
  @include mobile-and-tablet {
    display: none;
  }
}

.sidebarItemMobileFilter {
  display: none;

  @include mobile-and-tablet {
    display: block;
  }
}

.mobileSelectedCounter {
  margin-right: 6px;
}

.mobileFilterToggle {
  margin-right: 8px;
  margin-bottom: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.mobileFiltersTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  line-height: 22px;
}

.mobileFiltersTitle {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: $gray-text;
}

.mobileFiltersIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.mobileFiltersReset {
  font-weight: 500;
}

.offCanvas {
  position: relative;
  overflow: hidden;
}

.offCanvasOverlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, 0.16);
  opacity: 0;
  visibility: hidden;
  transition: all $transition-duration ease;
}

.offCanvasMenu {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  max-height: none;
  transform: translateY(100%);
  overflow-y: auto;
  backface-visibility: hidden;
  transition: transform $transition-duration ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
}

.offCanvasContent {
  pointer-events: auto;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  padding: 20px 24px;
}

.offCanvasContentWrapper {
  padding-bottom: 80px;
}

.offCanvasAction {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.offCanvasOpen {
  .offCanvasOverlay {
    opacity: 1;
    visibility: visible;
    transition: all $transition-duration $transition-timing-function;
  }

  .offCanvasMenu {
    transform: translateY(0);
    transition: transform $transition-duration $transition-timing-function;
  }
}
