@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.searchResults {
  display: grid;
  grid-template-columns: 23% minmax(0, 1fr);
  grid-template-rows: min-content 1fr;
  grid-column-gap: 60px;
  margin-top: 44px;
  padding-bottom: 108px;
  // TODO: add border when showcase will be available for search results page
  //border-bottom: 1px solid $gray-border;
  margin-bottom: 80px;

  @include xxl {
    grid-column-gap: 72px;
    grid-template-columns: 20% minmax(0, 1fr);
  }

  @include lg {
    grid-template-columns: 232px minmax(0, 1fr);
    grid-column-gap: 56px;
    padding-bottom: 86px;
  }

  @include mobile-and-tablet {
    margin-top: 24px;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: none;
    grid-gap: 24px;
    padding-bottom: 64px;
    margin-bottom: 0;
  }

  @include mobile {
    padding-bottom: 64px;
  }
}

.searchResultsResource {
  grid-column: 2 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 36px;

  @include mobile-and-tablet {
    grid-column: 1;
    margin-bottom: 0;
  }
}

.searchResultsSorters {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  @include mobile-and-tablet {
    display: none;
  }
}

.searchResultsSidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: start;

  @include mobile-and-tablet {
    grid-column: 1;
    grid-row: 2;
  }
}

.packages {
  grid-column: 2 / -1;
  display: grid;
  grid-gap: 16px;
  align-items: start;
  grid-template-rows: min-content;
  grid-template-columns: minmax(0, 1fr);

  @include mobile-and-tablet {
    grid-column: 1;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  height: 4px;
  z-index: 100;
  background: linear-gradient(90deg, rgb(38, 56, 217) 0%, rgb(178, 42, 242) 100%);
  transition: opacity 300ms ease 300ms;
  opacity: 1;
  animation: loadingAnimation 90s cubic-bezier(0, 0, 0, 1) forwards;

  &.loadingReady {
    opacity: 0;
    animation: none;
    width: 100%;
  }

  @keyframes loadingAnimation {
    0% {
      width: 5%;
    }
    100% {
      width: 95%;
    }
  }
}

.sortButtons {
  display: flex;
  align-items: center;
}

.sortButton {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  appearance: none;
  border: none;
  background: transparent;
  font-size: 14px;
  line-height: 22px;
  margin-left: 16px;
  color: $gray-text;
  padding: 0;

  &:first-child {
    margin-left: 0;
  }
}

.sortIcon {
  display: flex;
  align-items: center;
  margin-left: 8px;
  transform-origin: 50%;

  .sortButtonActive & {
    color: $black;
  }
}

.sortIconRotated {
  transform: rotate(180deg);
}

.sortButtonActive {
  font-weight: 500;
  color: $black;
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 184px 0;
  align-self: self-start;

  @include mobile-and-tablet {
    margin-top: 48px;
    margin-bottom: 28px;
  }
}

.notFoundIcon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: $blue-additional;
  border-radius: 14px;
  margin-bottom: 36px;

  @include mobile-and-tablet {
    margin-bottom: 30px;
  }
}

.notFoundTitle {
  margin-bottom: 12px;
}

.notFoundText {
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 32px;
  text-align: center;

  @include mobile-and-tablet {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 26px;
  }
}
