@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.avatarItem {
  width: 36px;
  height: 36px;
  border: 2px solid $white;
  box-shadow: 0px 0px 0px 1px $gray-border;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  @include mobile-and-tablet {
    width: 36px;
    height: 36px;
  }
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $white;
}

.additionalAvatars {
  font-weight: 500;
  background: $blue-additional;
  color: $blue-accent;
}
