@import '~styles/_vars.scss';
@import '~styles/responsive.scss';

.container {
  padding-top: 24px;
}

.stat {
  margin-bottom: 32px;
}

.statModules {
  margin-top: 32px;
  margin-bottom: 32px;
}

.statModulesWrapper {
  margin-top: 18px;
}

.statHeader {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: $gray-text;
  font-weight: 500;
  margin-bottom: 8px;

  @include mobile-and-tablet {
    margin-bottom: 12px;
  }
}

.statHeaderAdditional {
  flex-grow: 1;
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.statIcon {
  margin-right: 8px;
}

.statTooltip {
  margin-left: 8px;
}

.statLink {
  display: block;
  line-height: 20px;
  color: $blue-accent;
  font-weight: 500;
  transition: opacity $transition-duration $transition-timing-function;

  &:hover {
    opacity: 0.6;
  }
}

.statTitle {
  display: flex;
  align-items: flex-end;
  font-size: 26px;
  line-height: 40px;
  font-weight: 500;
}

.statRating {
  position: relative;
  align-items: flex-end;
  margin-left: 4px;
  font-size: 16px;
  line-height: 1.625;
}

.statRatingGreen {
  color: $green-accent;

  .statRatingArrow {
    color: $green-accent;
  }
}

.statRatingRed {
  color: $red-accent;

  .statRatingArrow {
    color: $red-accent;
    transform: rotate(90deg);
  }
}

.statRatingArrow {
  top: -8px;
  right: 0;
  position: absolute;
}

.statSubtitle {
  color: $gray-text;
}

.statList {
  display: flex;

  @include mobile-and-tablet {
    flex-wrap: wrap;
  }

  .stat {
    margin-bottom: 0;

    @include mobile-and-tablet {
      margin-bottom: 32px;
    }
  }
}

.statListItemSmall {
  flex: 0 0 auto;
  width: 25%;

  @include mobile-and-tablet {
    width: 50%;
  }
}

.statListItemLarge {
  flex: 0 0 auto;
  width: 50%;

  @include mobile-and-tablet {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

.statListItemNewLine {
  margin-top: 16px;
}

.popularity {
  margin-top: 16px;

  @include mobile {
    margin: 0 -20px;
    padding: 0 20px;
  }
}

.usedOnList {
  margin-top: 10px;
  margin: 0 -24px;
  padding: 0 24px;

  @include xxl {
    margin: 0 -32px;
    padding: 0 32px;
  }

  @include mobile-and-tablet {
    margin: 0 -20px;
    padding: 0 20px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:only-child) {
    margin-top: 24px;

    @include mobile-and-tablet {
      margin-top: 0;
    }
  }

  @include sm {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.links {
  display: flex;
  align-items: center;

  @include sm {
    justify-content: space-between;
    width: 100%;
  }

  & > * + * {
    margin-left: 62px;

    @include mobile-and-tablet {
      margin-left: 40px;
    }

    @include sm {
      margin-left: 0;
    }
  }
}

.link {
  display: inline-flex;
  align-items: center;
  color: $black;
  font-weight: 500;
}

.linkIcon {
  margin-right: 8px;
}

.details {
  display: block;
}
